<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
          integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous" />
    <link rel="stylesheet" type="text/css" href="css/products.css" />
    <title>Streetshop</title>
</head>
<body>

<%- include("includes/navbar.ejs") %>

<div class="col-lg-6 col-12">
    <div style="color: white; margin: 5rem;">
        <h1>Nike products</h1>
    </div>
</div>
<div class="row" style="margin: 5rem;">
    <div class="col-lg-3 col-sm-6 card" id="product">
        <img src="./images/Air%20Jordan%2036.jpeg" class="card-img-top" alt="product" style="height: 250px;" >
        <div class="card-body">
            <h5 class="card-title">Air Jordan XXXVI</h5>
            <p>
                216,71 <span>&#36;</span>
            </p>
            <button class="btn btn-danger my-cart-btn" data-id="1" data-name="Air Jordan XXXVI" data-summary="summary 1" data-price="216,71" data-quantity="1" data-image="./images/Air%20Jordan%2036.jpeg">Add to Cart</button>
        </div>
    </div>

    <div class="col-lg-3 col-sm-6 card" id="product">
        <img src="./images/Nike%20KD%2014.jpeg" class="card-img-top" alt="product" style="height: 250px;">
        <div class="card-body">
            <h5 class="card-title">Nike KD 14</h5>
            <p>
                175,85 <span>&#36;</span>
            </p>
            <button class="btn btn-danger my-cart-btn" data-id="2" data-name="Nike KD 14" data-summary="summary 2" data-price="175,85" data-quantity="1" data-image="./images/Nike%20KD%2014.jpeg">Add to Cart</button>
        </div>
    </div>

    <div class="col-lg-3 col-sm-6 card" id="product">
        <img src="./images/Kyrie%208.jpeg" class="card-img-top" alt="product" style="height: 250px;">
        <div class="card-body">
            <h5 class="card-title">Nike Kyrie 8</h5>
            <p>
                149,79 <span>&#36;</span>
            </p>
            <button class="btn btn-danger my-cart-btn" data-id="3" data-name="Nike Kyrie 8" data-summary="summary 3" data-price="149,79" data-quantity="1" data-image="./images/Kyrie%208.jpeg">Add to Cart</button>
        </div>
    </div>

    <div class="col-lg-3 col-sm-6 card" id="product">
        <img src="./images/Lebron%2019.jpeg" class="card-img-top" alt="product" style="height: 250px;">
        <div class="card-body">
            <h5 class="card-title">Nike Lebron 19</h5>
            <p>
                221,46 <span>&#36;</span>
            </p>
            <button class="btn btn-danger my-cart-btn" data-id="4" data-name="Nike Lebron 19" data-summary="summary 4" data-price="221,46" data-quantity="1" data-image="./images/Lebron%2019.jpeg">Add to Cart</button>
        </div>
    </div>
    <div class="col-lg-3 col-sm-6 card" id="product">
        <img src="./images/Nike%20PG%205.jpeg" class="card-img-top" alt="product" style="height: 250px;">
        <div class="card-body">
            <h5 class="card-title">Nike PG 5</h5>
            <p>
                143,28 <span>&#36;</span>
            </p>
            <button class="btn btn-danger my-cart-btn" data-id="5" data-name="Nike PG 5" data-summary="summary 5" data-price="143,28" data-quantity="1" data-image="./images/Lebron%2019.jpeg">Add to Cart</button>
        </div>
    </div>

    <div class="col-lg-3 col-sm-6 card" id="product">
        <img src="./images/Freak%203.jpeg" class="card-img-top" alt="product" style="height: 250px;">
        <div class="card-body">
            <h5 class="card-title">Nike Zoom Freak 3</h5>
            <p>
                147,19 <span>&#36;</span>
            </p>
            <button class="btn btn-danger my-cart-btn" data-id="6" data-name="Nike Zoom Freak 3" data-summary="summary 6" data-price="147,19" data-quantity="1" data-image="./images/Freak%203.jpeg">Add to Cart</button>
        </div>
    </div>

    <div class="col-lg-3 col-sm-6 card" id="product">
        <img src="./images/Kobe%2011.jpg" class="card-img-top" alt="product" style="height: 250px;">
        <div class="card-body">
            <h5 class="card-title">Nike Kobe 11 Elite</h5>
            <p>
                169,40 <span>&#36;</span>
            </p>
            <button class="btn btn-danger my-cart-btn" data-id="7" data-name="Nike Kobe 11 Elite" data-summary="summary 7" data-price="169,40" data-quantity="1" data-image="./images/Kobe%2011.jpg">Add to Cart</button>
        </div>
    </div>

    <div class="col-lg-3 col-sm-6 card" id="product">
        <img src="./images/Westbrook%20One%20Take.jpeg" class="card-img-top" alt="product" style="height: 250px;">
        <div class="card-body">
            <h5 class="card-title">Jordan Westbrook One Take</h5>
            <p>
                146,60 <span>&#36;</span>
            </p>
            <button class="btn btn-danger my-cart-btn" data-id="8" data-name="Jordan Westbrook One Take" data-summary="summary 8" data-price="146,60" data-quantity="1" data-image="./images/Westbrook%20One%20Take.jpeg">Add to Cart</button>
        </div>
    </div>
</div>

<script src="js/index.js"></script>

<%- include("includes/footer.ejs") %>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
<script src="javascripts/jquery-2.2.3.min.js"></script>
<script type='text/javascript' src="javascripts/bootstrap.min.js"></script>
<script type='text/javascript' src="javascripts/jquery.mycart.js"></script>
<script type="text/javascript">
    $(function () {

        var goToCartIcon = function($addTocartBtn){
            var $cartIcon = $(".my-cart-icon");
            var $image = $('<img width="30px" height="30px" src="' + $addTocartBtn.data("image") + '"/>').css({"position": "fixed", "z-index": "999"});
            $addTocartBtn.prepend($image);
            var position = $cartIcon.position();
            $image.animate({
                top: position.top,
                left: position.left
            }, 500 , "linear", function() {
                $image.remove();
            });
        }

        $('.my-cart-btn').myCart({
            currencySymbol: '$',
            classCartIcon: 'my-cart-icon',
            classCartBadge: 'my-cart-badge',
            classProductQuantity: 'my-product-quantity',
            classProductRemove: 'my-product-remove',
            classCheckoutCart: 'my-cart-checkout',
            affixCartIcon: true,
            showCheckoutModal: true,
            numberOfDecimals: 2,
            cartItems: [
            ],
            clickOnAddToCart: function($addTocart){
                goToCartIcon($addTocart);
            },
            afterAddOnCart: function(products, totalPrice, totalQuantity) {
                console.log("afterAddOnCart", products, totalPrice, totalQuantity);
            },
            clickOnCartIcon: function($cartIcon, products, totalPrice, totalQuantity) {
                console.log("cart icon clicked", $cartIcon, products, totalPrice, totalQuantity);
            },
            checkoutCart: function(products, totalPrice, totalQuantity) {
                var checkoutString = "Total Price: " + totalPrice + "\nTotal Quantity: " + totalQuantity;
                checkoutString += "\n\n id \t name \t summary \t price \t quantity \t image path";
                $.each(products, function(){
                    checkoutString += ("\n " + this.id + " \t " + this.name + " \t " + this.summary + " \t " + this.price + " \t " + this.quantity + " \t " + this.image);
                });
                alert(checkoutString)
                console.log("checking out", products, totalPrice, totalQuantity);
            },
            getDiscountPrice: function(products, totalPrice, totalQuantity) {
                console.log("calculating discount", products, totalPrice, totalQuantity);
                return totalPrice * 0.9;
            }
        });
    });
</script>
</body>
</html>
